
<!-- <div class="form-buttons" *ngIf="isAuthenticated">
    <button class="button button-primary" (click)="logout()">Sign Out</button>
          
</div>
<div *ngIf="!isAuthenticated">
<app-login></app-login>
</div>
<div *ngIf="isAuthenticated">
 <app-search></app-search>
</div>
<button class="button-singup" (click)="gotoRegister()"
>Sign up</button> -->
<!-- <style>
 body{
    background-image: url('./bg-image.jpg');
}
</style> -->

<body>

 <img src="../../assets/bg-image.jpg" />
 <img class="logo" src="../assets/logo.jpg">

<div class="container">
    <router-outlet></router-outlet>
  </div>
  <!-- <img src="../../assets/bg-image.jpg" /> -->
</body>
