.col-md-12{
    width: 200px;
    height: 200px;
    /* background: green; */
    
    position:absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /* align-items:center;
    text-align:center; */
    /* height: 100vh; width: 100vw; */
}